<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Select Time Range & Data Types</h1>
    
    <form action="/plot" method="POST">
        <label for="start_time">Start Time:</label>
        <input type="datetime-local" name="start_time" required>
        
        <label for="end_time">End Time:</label>
        <input type="datetime-local" name="end_time" required>

        <p>Select Data Types:</p>
        <input type="checkbox" name="data_types" value="flow"> Water Flow <br>
        <input type="checkbox" name="data_types" value="Water_temp"> Water Temp <br>
        <input type="checkbox" name="data_types" value="DHT_temp"> DHT Temp <br>
        <input type="checkbox" name="data_types" value="DHT_hum"> DHT Humidity <br>

        <button type="submit">Generate Plot</button>
    </form>
    
</body>

</html>